.activeArticle_creator_body
{
    margin: 40px 0;
    display: grid;
    grid-template: 2fr/ 57px 1fr 1fr;
}

.activeArticle_creator_img
{
    grid-row: 1/2;
    grid-column: 1/2;
    width: 57px;
    height: 57px;
}

.activeArticle_creator_img img
{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.activeArticle_creator_info
{
    grid-column: 2/4;
    grid-row: 1/2;
    align-self: center;
    text-align: start;

    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.65px;
    text-transform: uppercase;
    margin-left: 15px;

}

.creator_name
{}

.create_date
{
    margin-top: 10px;
    font-weight: 400;
}

.creator_network
{
    margin-top: 30px;
    grid-column: 1/4;
    grid-row: 2/3;

    display: grid;
    grid-template: 1fr / 50% 50%;

    /* border-radius: 4px; */
    /* z-index: 10; */
    border: 1px solid #EAEAEA;
    background: #FFF;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.08);
}

button.creator_network_btn
{
    height: 54px;
    border: none;
    border-right: 1px solid #EAEAEA;
    /* border-radius: 4px 0 0 4px; */

    background-color: #fff;

}

.flex
{
    display: flex;
    align-items: center;
    justify-content: center;
}

button.creator_network_btn:hover
{
    box-shadow: 0px 1px 40px 0px rgba(0, 0, 0, 0.08);
    transition: 0.1s step-end
}

button.creator_network_btn img
{
    width: 20px;
    height: 20px;
}

button.creator_network_btn p
{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
    /* 25.6px */
    margin-left: 10px;
}

.activeArticle_body
{
    text-align: left;
    margin-bottom: 40px;
}

.text
{}

.text p
{
    font-family: New York Medium;
    font-size: 16px;
    font-weight: lighter;
    line-height: 180%;
    /* 27.2px */
    margin-bottom: 25px;
}

.text h3
{
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 26px;
    font-weight: 700;
    margin: 40px 0 30px 0;
}

.img
{
    max-width: 750px;
    max-height: 570px;

}

.img_caption
{
    margin: 10px 0 30px 0;

    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 13px;
    font-weight: 500;
    line-height: 140%;
    /* 18.2px */
}

.shareBtn
{}

.shareBtn_item
{}

.shareBtn_item img
{}

.shareBtn_item p
{}

.hr_eyes
{
    position: relative;
    margin-bottom: 50px;
}

.eyes_img
{
    width: 66px;
    height: 52px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.eyes_img img
{
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 768px)
{


    .activeArticle_creator_body
    {
        margin: 60px 50px;
        grid-template: 1fr/ 57px 1fr 30%;
    }


    .activeArticle_creator_info
    {
        font-size: 16px;
        grid-column: 2/3;
    }

    .creator_network
    {
        grid-column: 3/4;
        grid-row: 1/2;
        margin-top: 0;
        /* margin: 0 50px; */
    }

    .text
    {
        margin: 0 50px
    }

    .text p
    {
        font-size: 20px;
        line-height: 170%;
    }

    .text h3
    {
        font-size: 32px;
        line-height: 160%;
    }

    .img
    {}

    .img_caption
    {
        font-size: 16px;
        line-height: 140%;
        margin: 0 50px;
    }
}