.otherArticle
{
    margin-bottom: 50px;
}

.otherArticle_row
{}

.otherArticle_title
{
    /* color: #000; */
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;

    margin-bottom: 30px;
}

.otherArticle_body
{
    display: grid;
    grid-template-columns: minmax(200px, 100%);

}


.otherArticle .article_title
{

    text-align: center;

    display: grid;
    grid-template: 1fr/ 1fr 8fr 1fr;

    text-decoration: none;
}

.otherArticle .article_title a
{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;

    color: #000;
}

.otherArticle .article_title a:hover
{
    font-size: 20px;
    /* font-weight: 700; */

    transition: 2.5s ease-in-out;
}

@media screen and (min-width: 540px)
{
    .otherArticle_title
    {
        font-size: 33px;
        margin-bottom: 50px;
    }

    .otherArticle_body
    {
        grid-template-columns: repeat(auto-fit, minmax(200px, 50%));
    }

}